.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* cssnya  */

.container {
  width: 60%;
  margin: 100px auto 0;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  border-style: solid;
}

.container-2 {
  width: 60%;
  margin: 100px auto 0;
  background-color: white;
  padding: 30px;
}

h1 {
  text-align: center;
}
table {
  width: 60%;
}
.label-biasa {
  height: 30px;
  display: flex;
  align-items: flex-end;
}
.label-item {
  height: 100px;
  display: flex;
  align-items: flex-end;
}
.tombol-kirim {
  border-radius: 10px;
}

.table-soal2 {
  margin: 0 auto;
  width: 100%;
  border: 1px solid black;
}

.table-soal2 th {
  background-color: lightgray;
  color: black;
}

.table-soal2 td {
  background-color: lightsalmon;
}

/* batas css */

.blink {
  visibility: hidden;
}
