.Time {
  margin: auto;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: courier, monospace;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.Time li {
  display: inline-block;
}
